<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.jqgriddemo.dao.BaseMapper">
  <select id="selectByCondition" resultType="com.woniuxy.jqgriddemo.po.Base">
    SELECT * FROM base
    <where>
    <if test="condition!=null">
      <if test="condition.whereName != null and condition.whereName != ''">
        <choose>
          <when test="condition.whereName == 'basic'">
            and `basic` like '%'
            <foreach collection="condition.whereValue" item="item">
              #{item}
            </foreach>
              '%'
          </when>
          <when test="condition.whereName == 'status'">
          and `status` =
            <foreach collection="condition.whereValue" item="item">
              #{item}
            </foreach>
          </when>
          <when test="condition.whereName == 'time'">
            and `time` between
              <foreach collection="condition.whereValue" item="item" separator="and">
                  #{item}
              </foreach>
          </when>
        </choose>
      </if>
    </if></where>

  </select>
  <select id="selectAll" resultType="com.woniuxy.jqgriddemo.po.Base" statementType="STATEMENT">
    SELECT * FROM base
    WHERE ${str1} ${str2}
  </select>


  <resultMap id="BaseResultMap" type="com.woniuxy.jqgriddemo.po.Base">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="basic" jdbcType="VARCHAR" property="basic" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, basic, status, time, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniuxy.jqgriddemo.po.Base">
    insert into base (id, basic, status, 
      time, flag)
    values (#{id,jdbcType=INTEGER}, #{basic,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.jqgriddemo.po.Base">
    insert into base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="basic != null">
        basic,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="basic != null">
        #{basic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.jqgriddemo.po.Base">
    update base
    <set>
      <if test="basic != null">
        basic = #{basic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.jqgriddemo.po.Base">
    update base
    set basic = #{basic,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>