<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.redisproject.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.woniuxy.redisproject.pojo.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="member_nick_name" jdbcType="VARCHAR" property="memberNickName" />
    <result column="star" jdbcType="VARCHAR" property="star" />
    <result column="member_ip" jdbcType="VARCHAR" property="memberIp" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="replay_count" jdbcType="INTEGER" property="replayCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, content, member_nick_name, star, member_ip, create_time, read_count,
    replay_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniuxy.redisproject.pojo.Comment">
    insert into t_comment (id, product_id, content, 
      member_nick_name, star, member_ip, 
      create_time, read_count, replay_count
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{memberNickName,jdbcType=VARCHAR}, #{star,jdbcType=VARCHAR}, #{memberIp,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{readCount,jdbcType=INTEGER}, #{replayCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.redisproject.pojo.Comment">
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="memberNickName != null">
        member_nick_name,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="memberIp != null">
        member_ip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="replayCount != null">
        replay_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="memberNickName != null">
        #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        #{star,jdbcType=VARCHAR},
      </if>
      <if test="memberIp != null">
        #{memberIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="replayCount != null">
        #{replayCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.redisproject.pojo.Comment">
    update t_comment
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="memberNickName != null">
        member_nick_name = #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=VARCHAR},
      </if>
      <if test="memberIp != null">
        member_ip = #{memberIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="replayCount != null">
        replay_count = #{replayCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.redisproject.pojo.Comment">
    update t_comment
    set product_id = #{productId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      member_nick_name = #{memberNickName,jdbcType=VARCHAR},
      star = #{star,jdbcType=VARCHAR},
      member_ip = #{memberIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      read_count = #{readCount,jdbcType=INTEGER},
      replay_count = #{replayCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>